<h1 class="text-center mb-5">New Register</h1>

<div class=text-center >
    <%= render 'form', register: @register %>
</div>

<div class= "text-center">
    <button class="">
        <%= link_to 'Home', registers_path %>
    </button>
</div>
